body{
    font-family: 'Open Sans', sans-serif;
    color: #fff; 
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a:hover{
  cursor: pointer;
}

/*--header nav---*/
header {
  height: 775px;
}


.container {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  align-self: center;
  margin-left: -30px;
  margin-right: -30px;
}

.menu-bar{
  color:#212121;
  background-color: #fff;
  height: 120px;
  line-height: 120px;
}

.menu-bar a {
  color: rgb(33, 33, 33);
}

.menu-bar a:hover {
  text-decoration: none;
  color: orangered;
}

.logo {
  align-self: center;
  font-size: 25px;
  font-family: "Open Sans";
  color: rgb(33, 33, 33);
  font-weight: bold;
  line-height: 0.88;
  letter-spacing: 0;
  text-transform: capitalize;
}

.header-menu {
  align-self: center;
  margin-bottom: 0;
}

.header-menu__item {
  margin-left: 28px;
}

.header-menu__item:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.menu-link {
  font-family: 'Open Sans semibold';
  font-size: 20px;
  font-weight: 600;
  color: rgb(33, 33, 33);
  background-color: darkmagenta;
  line-height: 1.1;
  letter-spacing: 0.05em;
  /* letter-spacing: 1px;  */
  /* 20px*50/1000 = 1px  */
  /* 50/1000 em = 0.05em */
  text-transform: capitalize;
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
}

/* header main */
.header-main {
  height: 655px;
  text-align: center;
}


.header__title{
  font-size: 60px;
  font-family: "Open Sans semibold";
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  margin-top: 170px;
  z-index: 14;
}

.header__text {
  font-size: 22px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  letter-spacing: 1.1px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 112px;
}

.button {
  background-color: transparent;
  border-color: white;
  width: 220px;
  height: 70px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.1;
  text-align: center;
  border: 3px solid;
  margin: 0px 7px 0px 7px;
}


.button:hover {
  background-color: rgb(0, 137, 123);
  border-color:  rgb(0, 137, 123);
  transition: ease-in-out 0.2s;
}




.Rectangle_3_copy {

  position: absolute;
  left: 710px;
  top: 518px;
  width: 220px;
  height: 70px;
  z-index: 1;
}

.down_bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1400px;
  height: 9894px;
  z-index: 25;
}
.arrow {
  display: flex;
  margin: 0 auto;
  align-self: center;
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 0.88;
  border-left: 4px solid white;
  border-top:  4px solid white;
  transform: rotate(-135deg);
  align-self: center;
}


/*--header end--*/


